.img-me {
    max-width: 260px;
}
.link-buttons .link {
    width: 150px;
    color: #360000;
    text-decoration: none;
    margin: 20px;
}
.link-buttons .button {
    background-color: #ccc;
    padding: 10px;
}
.link-buttons .button:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .text-about {
        margin: 20px;
        text-justify: inter-word;
        text-align: justify;
    }
    .img-me {
        width: 150px;
        margin: auto;
    }
    .bar {
        background-color: #cbc5bb;
    }

    .alert {
        position: absolute;
        top: 50px;
        width: 100%;
    }
}