.card {
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 250px;
}

.projects_name {
    font-size: 1.1em;
    font-weight: bold;
}
.projects_desc {
    font-size: 0.9em;
}

.projects_img_div {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects_img {
    width: 200px;
}

.dropdown i, .titledrop {
    display: inline-block;
    vertical-align: middle;
}
.dropdown i {
    margin: 5px;
    font-size: 42px;
}
.link-project {
    text-decoration: none;
    color: #777777;
}
