.footer {
    background-color: #555555;
    width: 100%;
    min-height: 300px;
}
.social-footer {
    width: 100%;
}

.footer-link .link {
    width: 150px;
    color: #360000;
    text-decoration: none;
    margin: 20px;
}
.footer-link .button {
    width: 150px;
    background-color: #ccc;
    padding: 10px;
    margin: auto;
}
.footer-link .button:hover {
    background-color: #ddd;
}
.footer-link i, .footer-link span {
    vertical-align: middle;
}
.footer-link i {
    font-size: 1.8em;
}

.social-footer .social-logo img {
    width: 40px;
    height: 40px;
    background-color: #666;
    border-radius: 50%;
    margin: 0 5px;
}
.social-footer .social-logo img:hover {
    background-color: #aaa;
}